<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./styles/materialdesignicons.min.css">
  <link rel="stylesheet" href="./styles/buefy.min.css">
</head>

<body>
  <div id="app">
    <section class="section">
      <nav class="level">
        <!-- Left side -->
        <div class="level-left">
          <b-field grouped :type="typeMsg" :message="stateMessage">
            <b-input v-model="endpoint" placeholder="Enter WS endpoint" icon-right="." :disabled="isDisabled"></b-input>
            <b-switch v-model="isConnected" :type="typeMsg" :disabled="isDisabled">
                {{ isConnected ? (isDisabled? "Connecting..." : "Disconnect") : "Connect"}}
            </b-switch>
        </b-field>
        </div>
      </nav>
      <div class="container">
        <div class="columns">
          <div class="column"></div>
          <div class="column">
            <layout-converter title="Преобразователь 1"></layout-converter>
          </div>
          <div class="column">
            <layout-converter title="Преобразователь 2"></layout-converter>
          </div>
          <div class="column"></div>
        </div>
      </div>
    </section>
  </div>

  <script src="./modules/vue.js"></script>
  <script src="./modules/buefy.min.js"></script>
  <script src="./converter.js"></script>
  <script src="./main.js"></script>

</body>

</html>